 body, html {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   height: 100%;
}
header {
   background-color: #333;
   color: white;
   padding: 1vh 1vw;
   text-align: center;
}
/* Navigation */
nav {
   background-color: #444;
   padding: 0%;
   width: 100vw;
   display: flex;
   justify-content: space-between;
}
nav ul {
   list-style-type: none;
   min-width: contain;
   padding: 2vh 2vw;
   margin: 0 5vw;
   display: flex;
   justify-content: space-around;
}
nav ul li {
   display: inline;
   margin: 0% 10%;
}
nav ul li a {
   color: white;
   text-decoration: none;
}

/* Socials */


/* Content */
main {
   flex: 1;
   padding: 2vh 2vw;
}

/* footer */
footer {
   background-color: #333;
   color: white;
   padding: 2vh 2vw;
   text-align: center;
   width: 100vw;
   margin-top: auto;
}

/* Classes */

.title {
   text-align: center;
}

.container {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
