 body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}
header {
   background-color: #333;
   color: white;
   padding: 10px;
   text-align: center;
}
/* Navigation */
nav {
   background-color: #444;
   padding: 2%;
   width: 96%;
   display: flex;
   justify-content: space-between;
}
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: inline;
   border: 1px solid #ccc;
}
nav ul li {
   display: inline;
   margin: 5%;
}
nav ul li a {
   color: white;
   text-decoration: none;
}

/* Socials */


/* Content */
main {
   padding: 2%;
}
footer {
   background-color: #333;
   color: white;
   padding: 2%;
   text-align: center;
   position: fixed;
   bottom: 0;
   width: 100%;
}

/* Classes */

.title{
   text-align: center;
}
