.card-footer{
    text-align: center;
}

.card-footer a:hover{
    animation: linkHover 1s .25s;
    animation-fill-mode: forwards;
}

@keyframes linkHover{
    0%{
        letter-spacing: normal;
    }
    100%{
        letter-spacing: .15rem;
    }
}

.equal-height {
    min-height: 50vh; /* Adjust this value as needed */
}
